
header{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 12px;
    object-fit: cover; 
  
}
.banner {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 2px;
   padding-right: 2px;
    object-fit: cover; 
}
.promocao,.products {
    display: inline-block;
}
.promocao {
    text-align: left;
    width: 50%;
}  
.products {
    text-align: right;
    width: 50%;
}
.primeiro-produto {
    margin: 0 auto;
}
.img1{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    
    border: 10px ;
    border-radius: 10px;   
}
.img2 {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    
    border: 10px ;
    border-radius: 10px; 
}
.img3 {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    
    border: 10px ;
    border-radius: 10px; 
}
footer {
    background-color: #F9F9F9;
}
