.fa, #selfcare{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 12px;
    display: inline-block;
}
#selfcare {
    text-align: left;
    width: 50%;
    font-size: 12px;
}
.fa {
    padding: 15px;
    width: 50%;
    float: left;
}
.banner {
    object-fit: cover; 
    object-position: bottom;
}
.promocao, .quantidade{
    display: inline-block;
}
.promocao {
    text-align: left;
    width: 50%;
}  
.quantidade {
    text-align: right;
    width: 50%;
}
.img{
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 10px ;
    border-radius: 10px;   
}

.container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    border: #5CA720;
    margin: 25px;
}
.container p{
/* Lorem ipsum dolor sit */
position: relative;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 22px;
color: #161616;
}

.container h3 {
    /* R$ 50,00 */
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #5CA720;
}
footer {
    background-color: #F9F9F9;
    
}


